@import '../../../assets/scss/define';


page{
    @extend %h100;
    background-color: #f7f4ea;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %c3;
    @extend %h100;
}

.header-section{
    @extend %df;
    @extend %w100;
    @extend %fdc;
    @extend %aic;
    @extend %boxs;
    justify-content: flex-end;
    height: j(216);
    background-color: #f0e28d;
    border-radius: 0 0 j(60) j(60);
}
.user-group{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    margin-bottom: j(-110);
}
.user-avatar{
    width: j(200);
    height: j(200);
    border-radius: 50%;
    background-color: #ddd;
}
.user-info{
    font-size: j(40);
    color: #a9a9a9;
    margin-top: j(15);
}
.user-name{
    color: #326394;
}

.form-section{
    @extend %df;
    @extend %fdc;
    @extend %bsb;
    @extend %boxs;
    width: j(630);
    margin-top: j(170);
    background-color: #fff;
    border-radius: j(30);
    padding: j(45) j(64);
}
.form-title{
    font-size: j(30);
    color: #33cc00;
}
.form-content{
    margin-top: j(50);
}
.form-item{
    @extend %df;
    @extend %aic;
    border-top: j(1) #807ad5 solid;
    font-size: j(24);
    color: #6c66ce;
    &:last-child{
        border-bottom: j(1) #807ad5 solid;
    }
}
.form-label{;
    //font-size: j(24);
    //color: #6c66ce;
}
.form-value{
    @extend %df;
    @extend %df1;
    @extend %aic;
    height: j(55);
    justify-content: flex-end;
    picker{
        //@extend %df1;
    }
}
.form-input{
    @extend %w100;
    @extend %h100;
    @extend %tar;
    line-height: j(55);
    font-size: j(24);
    color: #6c66ce;
}
.form-radio{
    @extend %df;
    @extend %aic;
}
.form-radio-item{
    @extend %df;
    @extend %aic;
    font-size: j(24);
    margin-left: j(60);
    &:first-child{
        margin-left: 0;
    }
}
.form-radio-item-dot,
.form-radio-item-icon{
    width: j(24);
    height: j(24);
    border-radius: 50%;
    margin-right: j(16);
}
.form-radio-item-dot{
    @extend %bsb;
    border: j(1) solid #6c66ce;
}
.form-button{
    @extend %cp;
    @extend %df;
    @extend %cfff;
    @extend %aic;
    @extend %jcc;
    margin: j(35) auto 0;
    width: j(200);
    height: j(84);
    border-radius: j(42);
    font-size: j(40);
    background-color: #6c66ce;
}
.form-unit{
    margin-left: j(10);
}
