@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #faf4b5;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %c3;
    @extend %h100;
}

.header-section{
    @extend %w100;
    @extend %bsb;
    @extend %oh;
    @extend %df;
    @extend %fdc;
    @extend %boxs;
    @extend %jcc;
    padding-left: j(60);
    height: j(216);
    color: #ff3333;
    background-color: #f0e28d;
    border-radius: 0 0 j(60) j(60);
}
.header-title{
    font-size: j(42);
}
.header-sub-title{
    margin-top: j(20);
    font-size: j(18);
}

.record-section{
    @extend %w100;
    @extend %df1;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    padding-top: j(20);
}
.record-item{
    @extend %bsb;
    @extend %ma;
    @extend %pr;
    width: j(630);
    padding: 0 0 j(30) j(64);
    &:before{
        @extend %pa;
        content: '';
        width: j(28);
        height: j(28);
        border-radius: 50%;
        background-color: #6c66ce;
        top: j(18);
        left: j(-11);
    }
    &:after{
        @extend %pa;
        @extend %l0;
        @extend %h100;
        top: j(20);
        content: '';
        width: 0;
        border-left: j(1) #6c66ce dashed;
    }
    &.up{
        .record-value{
            color: #ffcc00;
        }
    }
    &.nor{
        .record-value{
            color: #33cc00;
        }
    }
    &.down{
        .record-value{
            color: #90c0cc;
        }
    }
}
.record-item-head{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    font-size: j(28);
    color: #6c66ce;
    height: j(60);
}
.record-item-content{
    @extend %df;
    @extend %aic;
    @extend %boxs;
    margin-top: j(10);
    border-radius: j(30);
    background-color: #fff;
    padding: j(20) 0;
}
.record-item-cell{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    color: #6c66ce;
    &:last-child{
        border-left: j(1) solid #ddd;
    }
}
.record-label{
    font-size: j(18);
}
.record-value{
    font-size: j(72);
}
.record-unit{
    font-size: j(18);
}
.loading{
    @extend %df;
    @extend %w100;
    @extend %aic;
    @extend %jcc;
    height: j(200);
    font-size: j(32);
    color: #666;
}

