@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #eeeccb;
}
.wrap{
    //@extend %df;
    @extend %fdc;
    //@extend %aic;
    padding-top: j(15);
}

.inner{

}

.user-section{
    @extend %df;
    @extend %aic;
    @extend %ma;
    @extend %boxs;
    width: j(630);
    height: j(68);
    border-radius: j(34);
    padding: 0 j(60) 0 j(10);
    background-color: #fff;
    font-size: j(24);
    color: #a9a9a9;
}
.user-avatar{
    width: j(60);
    height: j(60);
    border-radius: 50%;
    background-color: #ddd;
    margin-right: j(10);
}
.user-nickname{
    @extend %df1;
    @extend %oh;
    margin-left: j(10);
    color: #326394;
}
.user-prompt{
    color: #99cccc;
}

.blood-section{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    padding-top: j(68);
}
.blood-inner{
    @extend %pr;
    width: j(300);
    height: j(300);
}
.blood-ring{
    @extend %w100;
    @extend %h100;
    @extend %bsb;
    @extend %pa;
    border-radius: 50%;
    &:nth-child(1) {
        top: j(-50);
    }
    &:nth-child(2) {
        top: 0;
        left: j(-50);
    }
    &:nth-child(3) {
        top: 0;
        right: j(-50);
    }
    &:nth-child(4) {
        top: j(-30);
        left: j(-10);
    }
    &:nth-child(5) {
        top: j(-20);
        right: j(-10);
    }
    &:nth-child(6) {
        bottom: j(-30);
        right: j(-10);
    }
    &.blood-main{
        @extend %t0;
        @extend %l0;
    }
}
.blood-bg{
    background-color: #6666cc;
    opacity: 0.2;
}
.blood-border{
    border: j(2) solid #6666cc;
}
.blood-main{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    @extend %cfff;
    background-color: #6666cc;
}
.blood-number{
    font-size: j(110);
}
.blood-unit{
    font-size: j(24);
}
.blood-time{
    margin-top: j(10);
    font-size: j(20);
    color: #dfdff3;
}
.blood-summary{
    margin-top: j(70);
    font-size: j(20);
    color: #6c66ce;
}

.button-section{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-top: j(35);
}
.button-item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    @extend %boxs;
    background-color: #fff;
    height: j(84);
    width: j(200);
    border-radius: j(42);
    margin: 0 j(25);
}
.button-item-icon{
    margin-right: j(15);
    &.jc-icon{
        width: j(44);
        height: j(47);
    }
    &.ly-icon{
        width: j(47);
        height: j(55);
    }
}
.button-item-content{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    font-size: j(20);
    color: #6c66ce;
}

.table-section{
    @extend %bsb;
    @extend %boxs;
    padding: j(20);
    margin: j(30) auto;
    width: j(630);
    background-color: #fff;
    border-radius: j(30);
}
.table-head{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
}
.table-prompt{
    @extend %pa;
    @extend %l0;
    font-size: j(18);
    color: #ccc;
}
.table-icon{
    width: j(38);
    height: j(38);
    margin-right: j(10);
}
.table-title{
    font-size: j(28);
    color: #33cc00;
}
.table-table{
    @extend %w100;
    margin-top: j(10);
    font-size: j(18);
}
.table-tr{
    @extend %df;
    @extend %aic;
    border-top: j(1) solid #6c66ce;
    &:first-child{
        .table-td{
            @extend %cfff;
            background-color: #6c66ce;
            border-right: j(1) solid #fff;
            &:last-child{
                border-right: none;
            }
            &:first-child{
                background-color: transparent;
                border-right: j(1) solid #6c66ce;
            }
        }
    }
}
.table-td{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    height: j(40);
    border-right: j(1) solid #6c66ce;
    &:first-child{
        width: j(60);
        flex: auto;
    }
    &:last-child{
        border-right: none;
    }
}
.table-dot{
    width: j(20);
    height: j(20);
    border-radius: 50%;
    background-color: #66cccc;
}
