@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #f7f4ea;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %c3;
    @extend %h100;
}

.header-section{
    @extend %df;
    @extend %w100;
    @extend %fdc;
    @extend %aic;
    @extend %boxs;
    justify-content: flex-end;
    height: j(216);
    background-color: #f0e28d;
    border-radius: 0 0 j(60) j(60);
}
.user-group{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    margin-bottom: j(-110);
}
.user-avatar{
    @extend %boxs;
    width: j(200);
    height: j(200);
    border-radius: 50%;
    background-color: #ddd;
}
.user-info{
    font-size: j(40);
    color: #a9a9a9;
    margin-top: j(15);
}
.user-name{
    color: #326394;
}

.entry-section{
    @extend %df;
    @extend %aic;
    @extend %boxs;
    width: j(630);
    margin-top: j(180);
    background-color: #fff;
    border-radius: j(40);
    padding: j(36) 0;
}
.entry-item{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    border-right: j(1) #6c66ce solid;
    &:last-child{
        border-right: none;
    }
}
.entry-label{
    font-size: j(24);
    color: #6c66ce;
}
.entry-value{
    font-size: j(72);
    color: #33cc00;
}

.button-section{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    margin-top: j(130);
}
.button-item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    @extend %cfff;
    @extend %boxs;
    font-size: j(40);
    width: j(320);
    height: j(84);
    border-radius: j(42);
    background-color: #99cccc;
    margin-bottom: j(20);
}
