@import '../../../assets/scss/define';

page{
    @extend %h100;
    background-color: #f8f3b9;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %bsb;
    @extend %aic;
    padding-top: j(20);
}

.user-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %boxs;
    @extend %ma;
    z-index: 9;
    width: j(630);
    height: j(68);
    border-radius: j(34);
    padding: 0 j(60) 0 j(10);
    background-color: #fff;
    font-size: j(24);
    color: #a9a9a9;
}
.user-avatar{
    width: j(60);
    height: j(60);
    border-radius: 50%;
    background-color: #ddd;
    margin-right: j(10);
}
.user-nickname{
    @extend %df1;
    @extend %oh;
    margin-left: j(10);
    color: #326394;
}
.user-prompt{
    color: #326394;
}

.blood-section{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %fdc;
    padding-top: j(20);
}
.blood-title{
    font-size: j(24);
    color: #2b5d82;
    margin-bottom: j(120);
}
.blood-inner{
    @extend %pr;
    width: j(300);
    height: j(300);
}
.blood-ring{
    @extend %w100;
    @extend %h100;
    @extend %bsb;
    @extend %pa;
    border-radius: 50%;
    &:nth-child(1) {
        top: j(-50);
    }
    &:nth-child(2) {
        top: 0;
        left: j(-50);
    }
    &:nth-child(3) {
        top: 0;
        right: j(-50);
    }
    &:nth-child(4) {
        top: j(-30);
        left: j(-10);
    }
    &:nth-child(5) {
        top: j(-20);
        right: j(-10);
    }
    &:nth-child(6) {
        bottom: j(-30);
        right: j(-10);
    }
    &.blood-main{
        @extend %t0;
        @extend %l0;
    }
}
.blood-bg{
    background-color: #99cccc;
    opacity: 0.2;
}
.blood-border{
    border: j(2) solid #99cccc;
}
.blood-main{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    @extend %cfff;
    background-color: #99cccc;
}
.blood-number{
    font-size: j(110);
}
.blood-unit{
    font-size: j(24);
}
.blood-btn{
    @extend %pa;
    @extend %cp;
    @extend %t50;
    margin-top: j(-30);
    border-radius: 50%;
    width: j(60);
    height: j(60);
    background-color: red;
    &.blood-reduce{
        left: j(-160);
    }
    &.blood-added{
        right: j(-160);
    }
}
.blood-summary{
    margin-top: j(65);
    font-size: j(24);
    color: #326394;
}

.progress-section{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    width: j(630);
    line-height: 1.5;
    margin-top: j(50);
}
.progress-inner{
    @extend %w100;
    height: j(6);
    background-color: #ffcc00;
}
.progress-content{
    @extend %h100;
    width: 60%;
    background-color: #99cccc;
}
.progress-prompt{
    margin-top: j(16);
    color: #6c66ce;
    font-size: j(24);
}

.calendar-section{
    @extend %bsb;
    @extend %boxs;
    margin-top: j(30);
    padding: j(30);
    width: j(630);
    border-radius: j(30);
    background-color: #fff;
}
.calendar-head{
    @extend %df;
    @extend %aic;
    @extend %jcc;
}
.calendar-title{
    color: #99cccc;
    font-size: j(30);
}
.calendar-time-group{
    @extend %df;
    @extend %aic;
}
.calendar-time-btn{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    height: j(40);
    width: j(40);
}
.calendar-btn-icon{
    width: j(30);
    height: j(30);
}
.calendar-time-text{
    margin: 0 j(20);
    font-size: j(32);
    color: #6c66ce;
}
.calendar-table{
    @extend %df;
    @extend %w100;
    @extend %fdc;
    margin-top: j(10);
}
.calendar-tr{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    border-bottom: j(1) #6c66ce solid;
    &:last-child{
        border-bottom: none;
    }
    &:first-child{
        margin-bottom: j(20);
        .calendar-td{
            height: j(50);
            font-size: j(24);
        }
    }
}
.calendar-td{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    height: j(70);
    font-size: j(28);
    color: #6c66ce;
}
.calendar-dot{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(50);
    height: j(50);
    border-radius: 50%;
    &.active{
        @extend %cfff;
        background-color: #6c66ce;
    }
    &.disabled{
        color: #999;
    }
}

.button-link{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    @extend %cp;
    width: j(245);
    height: j(62);
    font-size: j(30);
    border-radius: j(31);
    margin-top: j(30);
    background-color: #99cccc;
}
