@import '../../../assets/scss/define';

page{
    @extend %h100;
    background-color: #eeeccb;
}
.wrap{

}


.top-half{
    @extend %w100;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %oh;
    @extend %boxs;
    background-color: #e1e4d1;
    padding: j(20) 0 j(80);
    border-radius: 0 0 j(60) j(60);
}

.header-section{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %boxs;
    width: j(630);
    height: j(188);
    border-radius: j(30);
    background-color: #fc7a1f;
    line-height: 1.5;
}
.header-icon{
    width: j(82);
    height: j(85);
    margin-right: j(25);
}
.header-inner{
    @extend %df;
    @extend %fdc;
    @extend %cfff;
}
.header-title{
    font-size: j(42);
}
.header-sub-title{
    font-size: j(28);
}

.operate-section{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    @extend %boxs;
    width: j(630);
    height: j(154);
    margin-top: j(30);
    border-radius: j(30);
    background-color: #fff;
}
.operate-title{
    font-size: j(30);
    color: #6c66ce;
}
.operate-inner{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-top: j(15);
    font-size: j(30);
}
.operate-btn{
    @extend %cp;
    color: #6c66ce;
}
.operate-text{
    color: #fd7a1e;
    margin: 0 j(30);
}

.top-summary-text{
    margin-top: j(30);
    font-size: j(24);
    color: #6c66ce;
}

.table-section{
    @extend %bsb;
    @extend %boxs;
    padding: j(30);
    margin: j(30) auto;
    width: j(630);
    background-color: #fff;
    border-radius: j(30);
}
.table-head{
    @extend %pr;
    @extend %df;
    @extend %aic;
}
.table-prompt{
    @extend %pa;
    @extend %l0;
    font-size: j(18);
    color: #ccc;
}
.table-icon{
    width: j(38);
    height: j(38);
    margin-right: j(10);
}
.table-title{
    @extend %df1;
    font-size: j(30);
    color: #6c66ce;
}
.table-status-group{
    @extend %df;
    @extend %aic;
}
.table-status-cell{
    @extend %df;
    @extend %aic;
    margin-left: j(20);
    font-size: j(28);
    &.up{
        color: #fd7a1e;
    }
    &.nor{
        color: #33cc00;
    }
    &.down{
        color: #66cccc;
    }
}
.table-status-icon{
    width: j(36);
    height: j(36);
    margin-right: j(10);
}
.table-table{
    @extend %w100;
    margin-top: j(30);
    font-size: j(18);
}
.table-tr{
    @extend %df;
    @extend %aic;
    border-top: j(1) solid #6c66ce;
    &:first-child{
        .table-td{
            @extend %cfff;
            background-color: #6c66ce;
            border-right: j(1) solid #fff;
            &:last-child{
                border-right: none;
            }
            &:first-child{
                background-color: transparent;
                border-right: j(1) solid #6c66ce;
            }
        }
    }
}
.table-td{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    height: j(40);
    border-right: j(1) solid #6c66ce;
    &:first-child{
        width: j(60);
        flex: auto;
    }
    &:last-child{
        border-right: none;
    }

    &.up{
        color: #fd7a1e;
    }
    &.nor{
        color: #33cc00;
    }
    &.down{
        color: #66cccc;
    }
}

.main-half{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    margin-top: j(-45);
}

.times-section{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    width: j(630);
}
.times-summary{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %w100;
    @extend %cfff;
    @extend %boxs;
    background-color: #817bcd;
    border-radius: j(30);
    height: j(200);
    line-height: 1.5;
}
.times-prompt{
    @extend %df;
    @extend %fdc;
    font-size: j(30);
    margin-right: j(40);
}
.times-number{
    @extend %fwb;
    font-size: j(100);
    margin-right: j(20);
}
.times-unit{
    margin-top: j(40);
    font-size: j(24);
}
.times-info{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    @extend %boxs;
    width: j(630);
    background-color: #fff;
    margin-top: j(30);
    border-radius: j(30);
    padding: j(35) 0;
}
.times-info-item{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    &.up{
        color: #fd7b1f;
        .times-label{
            border-bottom: j(1) #fd7b1f solid;
        }
    }
    &.nor{
        color: #66cccc;
        .times-label{
            border-bottom: j(1) #66cccc solid;
        }
    }
    &.down{
        color: #33cc00;
        .times-label{
            border-bottom: j(1) #33cc00 solid;
        }
    }
}
.times-label{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(150);
    font-size: j(28);
    height: j(60);
}
.times-value{
    @extend %df;
    @extend %aic;
}
.times-value-text{
    font-size: j(85);
    margin-right: j(10);
}
.times-value-unit{
    margin-top: j(30);
    font-size: j(24);
}

.details-section{
    @extend %df;
    @extend %fdc;
    @extend %aic;
}
.details-cell{
    width: j(630);
    font-size: j(28);
    color: #666666;
    margin: j(30) 0;
    &.nor{
        .details-number{
            color: #66cccc;
        }
        .details-type{
            border: j(1) #66cccc solid;
        }
        .details-title-image{
            background-color: #66cccc;
        }
    }
    &.up{
        .details-number{
            color: #fd7b1f;
        }
        .details-type{
            border: j(1) #fd7b1f solid;
        }
        .details-title-image{
            background-color: #fd7b1f;
        }
    }
    &.down{
        .details-number{
            color: #33cc00;
        }
        .details-type{
            border: j(1) #33cc00 solid;
        }
        .details-title-image{
            background-color: #33cc00;
        }
    }
    &.red{
        .details-number{
            color: #fb190e;
        }
        .details-type{
            border: j(1) #fb190e solid;
        }
        .details-title-image{
            background-color: #fb190e;
        }
    }
}
.details-title{
    @extend %df;
    @extend %aic;
    font-size: j(30);
}
.details-title-image{
    @extend %df;
    @extend %jcc;
    @extend %aic;
    width: j(60);
    height: j(60);
    border-radius: 50%;
    margin-left: j(25);
    background-color: #6c66ce;
}
.details-title-icon{
    width: j(30);
    height: j(30);
}
.details-number{
    @extend %df;
    @extend %aic;
    font-size: j(85);
}
.details-type{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-left: j(20);
    font-size: j(28);
    height: j(50);
    padding: 0 j(20);
    border-radius: j(25);
    border: j(1) #ddd solid;
}
.details-prompt{
    line-height: 1.6;
}
.details-suggest{
    @extend %pr;
    line-height: 1.6;
    margin-top: j(30);
    padding: j(30);
    border: j(1) #908ac6 solid;
    border-radius: j(20);
    color: #66cccc;
    &:after{
        @extend %pa;
        @include tfr(-45deg);
        top: j(-14);
        left: j(30);
        content: '';
        width: j(20);
        height: j(20);
        border-top: j(1) #908ac6 solid;
        border-right: j(1) #908ac6 solid;
        background-color: #eeeccb;
    }
}

.more-section{
    @extend %df;
    @extend %aic;
    margin: j(30) 0;
    width: j(630);
    border-radius: j(30);
    background-color: #fff;
    padding: j(30) 0;
}
.more-item{
    @extend %df;
    @extend %df1;
    @extend %fdc;
    @extend %jcc;
    @extend %aic;
    color: #6c66ce;
    border-right: j(1) solid #ddd;
    &:last-child{
        border-right: none;
        .more-icon{
            width: j(172);
            height: j(172);
        }
    }
}
.more-icon{
    width: j(115);
    height: j(114);
}
.more-title{
    font-size: j(28);
}
.more-text{
    font-size: j(18);
}
